@model List<Foto>

@if (User.IsInRole("ADMIN"))
{
    <div class="container-fluid">
        <div class="container">
            <div class="title">
                <h1>Le tue foto</h1>
            </div>

            <div class="input-search">
                <input type="text" id="searchInput" name="search" value="" placeholder="Ricerca foto" />
            </div>

            <div class="input-generici">
                <div class="d-flex my-4">
                    <a href="@Url.Action("Create", "Foto")">
                        <button class="cssbuttons-io-button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
                            <span>Crea</span>
                        </button>
                    </a>

                    <a class="mx-4" href="@Url.Action("Index", "Categoria")">
                        <button class="cssbuttons-io-button">
                            <span>Vai alla sezione categorie</span>
                        </button>
                    </a>

                </div>
            </div>

            <div class="row MyFoto">
                @foreach (var foto in Model)
                {
                    <div class="col-12 col-md-6 col-lg-3 foto-card">
                        <div class="card" style="height: 254px">
                            <a class="mb-4" href="@Url.Action("Show", "Foto", new { id = foto.Id })">
                                <button class="a-index filter-text">@foto.Titolo</button>
                            </a>
                            <div>
                                @if (foto.Visibile)
                                {
                                    <div class="green-dot"></div>
                                }
                                else
                                {
                                    <div class="green-red"></div>
                                }
                            </div>
                            <div class="d-flex">
                                <a href="@Url.Action("Update", "Foto", new { id = foto.Id })">
                                    <button class="btn-53 mx-3">
                                        <div class="original">MODIFICA</div>
                                        <div class="letters">
                                            <span>M</span>
                                            <span>O</span>
                                            <span>D</span>
                                            <span>I</span>
                                            <span>F</span>
                                            <span>I</span>
                                            <span>C</span>
                                            <span>A</span>
                                        </div>
                                    </button>
                                </a>
                            </div>
                            <div>
                                @if (User.IsInRole("ADMIN"))
                                {
                                    <p>
                                        <form asp-controller="Foto" asp-action="Delete" asp-route-id="@foto.Id" method="post">
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-danger btn-sm my-3">
                                                Elimina
                                            </button>
                                        </form>
                                    </p>
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
    <div>
</div>
}


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var searchInput = document.getElementById('searchInput');
        searchInput.addEventListener('keyup', function () {
            var filter = this.value.toLowerCase();
            var fotoCards = document.querySelectorAll('.foto-card');

            fotoCards.forEach(function (card) {
                var title = card.querySelector('.filter-text').innerText.toLowerCase();
                if (title.includes(filter)) {
                    card.classList.remove('d-none');
                } else {
                    card.classList.add('d-none');
                }
            });
        });
    });
</script>


<style>
    /* STILE BOTTONE DETTAGLI */
    .btn-53,
    .btn-53 *,
    .btn-53 :after,
    .btn-53 :before,
    .btn-53:after,
    .btn-53:before {
        border: 0 solid;
        box-sizing: border-box;
    }


    .btn-53 {
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: button;
        background-color: #000;
        background-image: none;
        color: #fff;
        cursor: pointer;
        font-size: 100%;
        line-height: 1.5;
        margin: 0;
        -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
        padding: 0;
    }


    .btn-53:disabled {
         cursor: default;
    }


    .btn-53:-moz-focusring {
         outline: auto;
    }

   .btn-53 svg {
        display: block;
        vertical-align: middle;
   }


   .btn-53 [hidden] {
        display: none;
   }


    .btn-53 {
        border: 1px solid;
        border-radius: 999px;
        box-sizing: border-box;
        display: block;
        font-weight: 700;
        overflow: hidden;
        padding: 10px;
        position: relative;
        text-transform: uppercase;
    }

     
     .btn-53 .original {
         background: #fff;
         color: #000;
         display: grid;
         inset: 0;
         place-content: center;
         position: absolute;
         transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
     }

   
     .btn-53:hover .original {
         transform: translateY(100%);
     }

   
     .btn-53 .letters {
         display: inline-flex;
     }

    
     .btn-53 span {
         opacity: 0;
         transform: translateY(-15px);
         transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
     }

   
     .btn-53 span:nth-child(2n) {
         transform: translateY(15px);
     }

 
     .btn-53:hover span {
         opacity: 1;
         transform: translateY(0);
     }

   
     .btn-53:hover span:nth-child(2) {
         transition-delay: 0.1s;
     }

     .btn-53:hover span:nth-child(3) {
         transition-delay: 0.2s;
     }

     .btn-53:hover span:nth-child(4) {
         transition-delay: 0.3s;
     }

     .btn-53:hover span:nth-child(5) {
         transition-delay: 0.4s;
     }

    .btn-53:hover span:nth-child(6) {
         transition-delay: 0.5s;
    }



    .cssbuttons-io-button {
        display: flex;
        align-items: center;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        padding: 0.7em 1.4em 0.7em 1.1em;
        color: white;
        background: #ad5389;
        background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
        border: none;
        box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
        letter-spacing: 0.05em;
        border-radius: 20em;
    }

    .cssbuttons-io-button svg {
        margin-right: 6px;
    }

    .cssbuttons-io-button:hover {
       box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
    }

      
    .cssbuttons-io-button:active {
       box-shadow: 0 0.3em 1em -0.5em #14a73e98;
    }

    /* STILE INPUT*/
    .input-search {
        display: flex;
        justify-content: center;
        margin-bottom: 20px; 
    }

  
    #searchInput {
        width: 100%; 
        max-width: 600px;
        padding: 10px 20px; 
        border: 2px solid #DAA06D; 
        border-radius: 25px;
        font-size: 16px; 
        color: #333; 
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: border-color 0.3s ease, box-shadow 0.3s ease; 
    }

      
        #searchInput:focus {
            border-color: #14a73e; 
            box-shadow: 0 2px 8px rgba(20, 167, 62, 0.4); 
            outline: none; 
        }

        
        #searchInput:active {
            border-color: #14a73e; 
        }
</style>
