@using il_mio_fotoalbum.Data;
@model Foto

<div class="row">
    <div class="col">@Model.Descrizione</div>
    <div class="col">
        @if (Model.ImgSrc != null)
        {
            <div class="img">
                <img src="@Model.ImgSrc" />
            </div>
        }
        else
        {
            <h3>La foto è null</h3>
        } 
    </div>
    <div class="col">@Model.Titolo</div>
    <div class="col">@Model.Visibile</div>
    <div style="display: flex; flex-wrap: wrap; gap: 5px;">
        @if(Model.Categorias != null)
        {
            @foreach (var categoria in Model.Categorias)
            {
                <div class="badge bg-primary">@categoria.Nome</div>
            }
        }
        else
        {
            <h6>Nessuna categoria selezionata</h6>
        }
    </div>
</div>


<style>
    .img{
        width: 80px;
    }
</style>
